html {
	margin: 0;
	padding: 0;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-weight: 100;
	letter-spacing: 0.04rem;
	cursor: none;
}

/* .custom-cursor-initialized {
	cursor: none;
} */

@font-face {
	font-family: 'Aldrich';
	src: url('./fonts/Aldrich-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'D-DIN';
	src: url('./fonts/D-DIN.ttf') format('truetype');
}

@font-face {
	font-family: 'D-DIN-Bold';
	src: url('./fonts/D-DIN-Bold.ttf') format('truetype');
}

.ddin {
	font-family: 'D-DIN', sans-serif;
}

.ddin-bold {
	font-family: 'D-DIN-Bold', sans-serif;
}

.aldrich {
	font-family: 'Aldrich', sans-serif;
}

:root {
	--light: #FFFFFF;
	--dark: #121212;
	--star-bezier: cubic-bezier(.19,1,.22,1);
}

button {
	border: none;
	background-color: transparent;
	cursor: pointer;
}

ul, ol, li {
	list-style-type: none;
}

body {
	font-family: 'D-DIN', sans-serif;
	background-color: #121212;
	color: white;
	height: 100%;
}

.bold {
	font-weight: 900;
}

.clr-darker {
	color: #AAAAAA;
}

.text-lg {
	font-size: 1.25rem;
}

.text-lg {
	font-size: 1.1rem;
}

.text-base {
	font-size: 1rem;
}

.text-sm {
	font-size: 0.85rem;
}

.root {
	min-height: 100svh;
	min-width: 100%;

	overflow: hidden;

	background-image: url('./images/justbg.png');
	/* background-image: url('./images/bg.png'); */
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-blend-mode: normal;

	display: flex;
	flex-direction: column;

	& > * {
		margin-left: clamp(1.5rem, 4vw, 6rem);
	}
}

.spaceman-img {
	position: absolute;
	/* object-fit: cover; */
	bottom: 0;
	top: 0;
	right: 0;
	left: 0;
	height: 100%;
	/* width: 100%; */
	/* height: clamp(50vw, 50vw, 80vw); */
	margin: 0;

	background-image: url('./images/spaceman.png');
	/* background-image: url('./images/bg.png'); */
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-blend-mode: normal;
}

.navbar {
	padding: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.navbar .nav-toggle {
	position: relative;
	display: none;

	& svg {
		display: none;
	}
}

.navbar .nav-toggle > * {
	position: absolute;
	left: 0;
}

.navbar .nav-toggle:checked + .nav-container {
	opacity: 0;
	pointer-events: none;
}

.nav-container {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	text-align: left;
}

.logo {
	position: absolute;
	left: 0;
	top: -0.8rem;

	& a {
		text-decoration: none;
		color: var(--light);
	}

	& h1 {
		font-size: 2rem;
	}

	& h4 {
		color: #AAAAAA;
		font-size: 1rem;
	}
}

.nav-links {
	list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;

	& li:not(:last-child) {
		margin-right: 2rem;
	}
}

.nav-link {
	text-decoration: none;
	color: var(--light);
	position: relative;

	&::after {
		content: '';
    position: absolute;
    bottom: -0.3rem;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fff;
    transform: scaleX(0);
    transform-origin: right center;
    transition: transform .6s var(--star-bezier);
	}

	&:hover::after {
    transform: scaleX(1);
    transform-origin: left center;
	}
}

@keyframes nav-link-in {
	from { width: 0; }
	to { width: 100%; }
}

.chevron {
	stroke: var(--light);
	overflow: hidden;
	width: 100%;
	position: absolute;
	right: -37%;
}

.chevron svg {
	transition: transform 0.2s;
}

#custom-cursor {
	position: fixed;
	height: 1rem;
	width: 1rem;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	background-color: var(--light);
	z-index: 1000;
	pointer-events: none;

	transition: background-color 0.2s, height 0.2s, width 0.2s;

	&[data-hovered="false"] {
		background-color: var(--light);
	}

	&[data-hovered="true"] {
		height: 2rem;
		width: 2rem;
		background-color: rgba(255, 255, 255, 0.01);
		backdrop-filter: invert();
	}
}

.hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* margin-top: min(10vw, 8rem); */
	flex-grow: 1;
	max-width: 50rem;

	& > * {
		opacity: 0;
		animation: slide-fade-in 1.5s var(--star-bezier) forwards;
	}

	& .hero__subtitle {
		color: #E0E0E0;
		margin-bottom: -0.5rem;
		/* animation-delay: 0.6s; */
	}

	& .hero__title {
		font-weight: 900;
		line-height: 0.9em;
		font-size: 8rem;
		margin-left: -0.4375rem;
		margin-top: 0.125em;
		animation-delay: 0.1s;
	}

	& .hero__text {
		font-size: 1.15rem;
		line-height: 130%;
		letter-spacing: 0.04rem;
		color: #E0E0E0;
		max-width: 90%;
		margin-top: min(1vw, 2rem);
		/* margin-bottom: 3rem; */

		animation-delay: 0.2s;
	}

	& .hero__buttons {
		display: flex;
		flex-direction: row;
		margin-top: min(3vw, 3rem);
		gap: 1rem 2rem;
		animation-delay: 0.3s;
	}
}

@media screen and (max-width: 805px) {
	.hero .hero__title {
		font-size: 6rem;
	}
}

@media screen and (max-width: 636px) {
	.hero .hero__title {
		font-size: 5rem;
	}
}

@media screen and (max-width: 780px) {
	.hero {
		margin-left: 0;
		width: 90%;
		margin-inline: auto;
	}

	.hero .hero__buttons {
		display: flex;
		flex-wrap: wrap;
		justify-content: baseline;
	}
	
	.hero .hero__buttons .angled-btn {
		display: flex;
		width: max-content;
	}
}

@media screen and (max-width: 520px) {
	.hero {
		margin-top: 3rem;
		justify-content: flex-start;
	}

	.hero .hero__title {
		margin-top: 0.5rem;
		font-size: 3rem;
	}

	.hero .hero__text {
		font-size: 1rem;
	}

	.hero .hero__subtitle {
		margin-left: -0.3rem;
		font-size: 0.8rem;
	}

	.hero .hero__text {
		margin-top: 1rem;
	}

	.hero .hero__buttons {
		margin-top: 2rem;
		justify-content: center;
	}
}

@keyframes slide-fade-in {
	from {
		opacity: 0;
		filter: blur(5px);
		transform: translateY(3rem);
	}
	to {
		opacity: 1;
		filter: none;
		transform: translateY(0rem);
	}
	80% {
		filter: none;
		opacity: 1;
	}
}

.launch {
	margin-top: 3rem;
	animation-delay: 0.5s;
	height: 200px;
	overflow: hidden;

	& > * {
		opacity: 0;
		animation: slide-fade-in 1.5s var(--star-bezier) forwards;
	}
}

.launch__upcoming {
	animation-delay: 0.1s;
}

.launch__location {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1rem;
	animation-delay: 0.2s;

	& svg {
		margin-bottom: 0.75rem;
	}
}

.launch__btn {
	margin-top: 1rem;
}

.launch__src {
	& h1 {
		font-size: 3rem;
		font-weight: 900;
	}

	& span {
		font-size: 0.85rem;
		color: #BABABA;
	}
}

.btn {
	width: auto;
	border: 1px solid var(--light);
	background-color: var(--dark);
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	letter-spacing: 0.1rem;
	background-color: transparent;

	transition: color 0.2s, border 0.2s, scale 0.2s, font-size 0.2s;
	animation-delay: 0.3s;

	&::after {
		content: attr(data-title);
		position: absolute;
		width: 100%;
		text-align: center;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		transition: color 0.3s;
		color: var(--light);
	}

	&::before {
		content: '';
		position: absolute;
		transform: scaleY(0);
		width: 100%;
		height: 100%;
		background-color: var(--light);
		transition: transform 0.2s;
		transform-origin: top;
	}
	
	&:hover::after {
		color: var(--dark);
	}

	&:hover::before {
		transform: scaleY(1);
		transform-origin: bottom;
	}
}

.btn[data-light] {
	background-color: var(--light);
	color: var(--dark);

	&::before {
		background-color: var(--dark);
		backdrop-filter: blur(20px);
	}

	&::after {
		color: var(--dark);
	}

	&:hover {
		&::before, &::after {
			color: var(--light);
		}
	}
}

.angled-btn {
	color: var(--light);
	position: relative;
}

.angled-btn[data-light="true"] svg g {
	& :nth-child(1) {
		stroke: transparent;
		fill: var(--light);
	}

	& :nth-child(2) {
		fill: var(--dark);
	}
}

.angled-btn[data-light="true"]:hover svg g {
	& :nth-child(1) {
		stroke: var(--dark);
	}
	& :nth-child(2) {
		fill: var(--dark);
	}
}

.angled-btn::after {
	content: attr(data-title);
	position: absolute;
	width: 100%;
	left: 0;
	line-height: 0;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	transition: color 0.2s;
	pointer-events: none;
	z-index: inherit;
}

.angled-btn:hover::after {
	color: var(--dark);
}

.angled-btn[data-light="true"] {
	color: var(--dark);

	&:hover::after {
		color: var(--light);
	}
}
