.home-root__before::before {
  content: '';
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: opacity 200ms;
  background-color: black;
}

.hero {
  font-size: clamp(5.5rem, 6.5vw, 8rem);
  margin-left: clamp(1rem, 4vw, 4rem);
  width: clamp(20rem, 45vw, 50rem);

  & .hero-title p {
    font-size: max(1rem, 0.15em);
  }

  & .hero-description {
    font-size: max(1.125rem, 0.15em);
  }
}

#disclaimer {
	position: fixed;
	inset: 0;
	z-index: 500;
	height: 100vh;
	width: 100vw;
	display: grid;
	place-items: center;	
	backdrop-filter: blur(5px);
	transition: opacity 200ms;
	@apply bg-exo-dark-500/85;

	&::before {
		content: "";
		position: absolute;
		left: -1rem;
		width: 1px;
		height: 100%;
		animation: before-anim 5s ease-in-out infinite;
		@apply bg-exo-light-100;
	}

	&[data-visible="false"] {
		opacity: 0;
		pointer-events: none;
	}
}

@keyframes before-anim {
	from { 
		transform: scaleY(0);
		transform-origin: top;
	}

	49% {
		transform-origin: top;
	}
	50% {
		transform: scaleY(100%);
		transform-origin: bottom;
	}

	99% {
		transform-origin: bottom;
	}
	to {
		transform: scaleY(0);
		transform-origin: top;
	}
}

/* Media Queries */
/* 1280px */
@media screen and (max-width: 80rem) {
  .hero {
    font-size: clamp(4rem, 12vw, 5.5rem);
  }
  
  .hero .hero-description {
    font-size: clamp(1.05rem, 0.185em, 1.125rem);
  }
  
  .hero .hero-title p {
    font-size: max(0.9rem, 0.1em);
  }
}

/* 1136px */
@media (max-width: 71rem) {
  .hero {
    margin-inline: auto;
    width: 70%;
  }

  .hero .hero-text {
    justify-content: center
  }

  .hero .hero-description {
    width: 100%;
  }

  .home-root__before::before {
    opacity: 0.4;
  }  
}

/* 645px */
@media (max-width: 40.3125rem) {
  .home-root__before::before {
    opacity: 0.5;
  }

  .hero {
    width: calc(100% - clamp(1.5rem, 5vw, 5rem));
    margin-inline: auto;
  }

  .hero .hero-description {
    width: 100%;
  }
}

/* 450px */
@media (max-width: 28.125rem) {
  .hero, .hero .hero-text {
    gap: 0.25em;
  }
}

/* 428px */
@media (max-width: 32.5rem) {
  .hero .hero-buttons {
    justify-content: center;
    flex-direction: column;
  }
}