.astronaut-img {
  /* background-image: url("../images/spaceship.png"); */
  background-position: bottom center;
  /* background-position-y: -5rem; */
  background-repeat: no-repeat;
  background-size: cover;
}

.launch-route {
  @apply flex
    flex-row
    items-center
    justify-center
    gap-2
    tracking-wide
    -mt-2 
    mb-1
    text-5xl
    font-bold
    w-max
    drop-shadow-custom-lg 
    leading-none;
}

.launch-route span {
  @apply inline-block;

  &::after {
    content: attr(data-location);
    @apply block 
      text-custom-light-300
      text-sm
      font-normal;
  }
}
