@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Aldrich';
  src: url('../fonts/Aldrich-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'D-DIN';
  src: url('../fonts/D-DIN.ttf') format('truetype');
}

@font-face {
  font-family: 'D-DIN-Bold';
  src: url('../fonts/D-DIN-Bold.ttf') format('truetype');
}

/* Fonts */
.ddin {
  font-family: 'D-DIN', sans-serif;
}

.ddin-bold {
  font-family: 'D-DIN-Bold', sans-serif;
}

.aldrich {
  font-family: 'Aldrich', sans-serif;
}

:root {
  --star-bezier: cubic-bezier(.19,1,.22,1);
}

body {
  font-family: 'D-DIN', sans-serif;
  @apply text-custom-light-100 bg-custom-dark-500;
}

exo-link-btn {
  transform-origin: bottom left;
}

/* Cursor */
#custom-cursor {
  @apply 
    fixed
    h-4
    w-4
    rounded-full
    bg-custom-light-100
    pointer-events-none
    z-50;

  transform: translate(-50%, -50%);
  transition: background-color 0.2s, height 0.2s, width 0.2s;

  &[data-hovered="false"] {
    @apply bg-custom-light-100;
  }

  &[data-hovered="true"] {
    @apply h-8 w-8;
    background-color: rgba(255, 255, 255, 0.01);
    backdrop-filter: invert();
  }
}

/* Buttons */
.btn {
  @apply 
    relative
    flex
    items-center
    justify-center
    w-auto
    border
    border-custom-light-100;

  letter-spacing: 0.1rem;
  transition: color 0.2s, border 0.2s, scale 0.2s, font-size 0.2s;

  &::after {
    content: attr(data-title);
    @apply 
      absolute
      w-full
      text-center
      left-1/2
      top-1/2
      text-custom-light-100
      transition-colors
      duration-300
      -translate-x-1/2
      -translate-y-1/2;
  }

  &::before {
    content: '';
    @apply 
      absolute
      w-full
      h-full
      bg-custom-light-100
      scale-y-0
      origin-top
      transition-transform
      duration-200;
  }

  
  &:hover::after {
    @apply text-custom-dark-500;
  }

  &:hover::before {
    @apply scale-y-100 origin-bottom;
  }
}

.btn[data-light] {
  @apply text-custom-dark-500 bg-custom-light-100;

  &::before {
    @apply bg-custom-dark-500 backdrop-blur-lg;
  }

  &::after {
    @apply text-custom-dark-500;
  }

  &:hover {
    @apply border-none;
    &::before, &::after {
      @apply text-custom-light-100;
    }
  }
}

.btn-angled {
  transform-origin: bottom left;
  @apply relative text-custom-light-100;

  &::after {
    content: attr(data-title);
    @apply 
      absolute 
      left-0 
      w-full 
      top-1/2 
      -translate-y-1/2 
      text-center 
      transition-colors 
      duration-200 
      pointer-events-none 
      z-auto;
  }

  &:hover::after {
    @apply text-custom-dark-500;
  }
}

.btn-angled[data-light="true"] {
  @apply text-custom-dark-500;

  &:hover::after {
    @apply text-custom-light-100;
  }

  & svg g {
    & :nth-child(1) { @apply fill-custom-light-100 stroke-transparent; }
    & :nth-child(2) { @apply fill-custom-dark-500; }
  }

  &:hover svg g {
    & :nth-child(1) { @apply stroke-custom-dark-500; }
    & :nth-child(2) { @apply fill-custom-dark-500; }
  }
}

.btn-angled-container {
  @apply flex flex-row text-base items-center;
  gap: clamp(1rem, 3vw, 2rem);
}

@media (prefers-reduced-motion: no-preference) {
  .slide-fade-in {
    @apply opacity-0;
    animation: slide-fade-in 1.5s var(--star-bezier) forwards;
  }
}

/* Keyframes */
@keyframes slide-fade-in {
  from {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(3rem);
  }
  to {
    opacity: 1;
    filter: none;
    transform: translateY(0rem);
  }
  80% {
    filter: none;
    opacity: 1;
  }
}