.root {
  @apply 
    flex
    flex-col
    min-h-screen
    min-w-full
    overflow-hidden;

  background: url('../images/bg.png') center center / cover no-repeat;

  &::before {
    content: '';
    @apply 
      absolute
      opacity-0
      w-full
      h-full
      transition-opacity
      duration-200
      bg-black/25;
  }
}

.hero {
  @apply flex flex-col justify-center flex-grow max-w-[50rem];
  margin-left: clamp(1.5rem, 4vw, 6rem);

  & > * {
    @apply opacity-0;
    animation: slide-fade-in 1.5s var(--star-bezier) forwards;
  }

  /* fade in animation delays */
  & :nth-child(1) { animation-delay: 0s;   }
  & :nth-child(2) { animation-delay: 0.1s; }
  & :nth-child(3) { animation-delay: 0.2s; }
  & :nth-child(4) { animation-delay: 0.3s; }

  & .hero-subtitle {
    @apply text-custom-light-200 mb-[-0.5rem];
  }

  & .hero-title {
    font-weight: 900;
    line-height: 0.9em;
    font-size: 8rem;
    margin-left: -0.4375rem;
    margin-top: 0.125em;
  }

  & .hero-text {
    @apply max-w-[90%] text-custom-light-200;
    font-size: 1.15rem;
    line-height: 130%;
    letter-spacing: 0.04rem;
    margin-top: min(1vw, 2rem);
  }

  & .hero-buttons {
    @apply flex flex-row gap-x-8 gap-y-4;
    margin-top: min(3vw, 3rem);
  }
}

.btn {
  @apply 
    relative
    flex
    items-center
    justify-center
    w-auto
    border
    border-custom-light-100;

  letter-spacing: 0.1rem;
  transition: color 0.2s, border 0.2s, scale 0.2s, font-size 0.2s;

  &::after {
    content: attr(data-title);
    @apply 
      absolute
      w-full
      text-center
      left-1/2
      top-1/2
      text-custom-light-100
      transition-colors
      duration-300
      -translate-x-1/2
      -translate-y-1/2;
  }

  &::before {
    content: '';
    @apply 
      absolute
      w-full
      h-full
      bg-custom-light-100
      scale-y-0
      origin-top
      transition-transform
      duration-200;
  }

  
  &:hover::after {
    @apply text-custom-dark;
  }

  &:hover::before {
    @apply scale-y-100 origin-bottom;
  }
}

.btn[data-light] {
  @apply text-custom-dark bg-custom-light-100;

  &::before {
    @apply bg-custom-dark backdrop-blur-lg;
  }

  &::after {
    @apply text-custom-dark;
  }

  &:hover {
    @apply border-none;
    &::before, &::after {
      @apply text-custom-light-100;
    }
  }
}

.btn-angled {
  @apply relative text-custom-light-100;
}

.btn-angled[data-light="true"] svg g {
  & :nth-child(1) {
    @apply fill-custom-light-100 stroke-transparent;
  }

  & :nth-child(2) {
    @apply fill-custom-dark;
  }
}

.btn-angled[data-light="true"]:hover svg g {
  & :nth-child(1) {
    @apply stroke-custom-dark;
  }
  & :nth-child(2) {
    @apply fill-custom-dark;
  }
}

.btn-angled::after {
  content: attr(data-title);
  @apply 
    absolute 
    left-0 
    w-full 
    top-1/2 
    -translate-y-1/2 
    text-center 
    transition-colors 
    duration-200 
    pointer-events-none 
    z-auto;
}

.btn-angled:hover::after {
  @apply text-custom-dark;
}

.btn-angled[data-light="true"] {
  @apply text-custom-dark;

  &:hover::after {
    @apply text-custom-light-100;
  }
}

/* Media Queries */
@media screen and (max-width: 1600px) {
  .hero {
    max-width: 40rem;
  }
  
  .hero .hero-title {
    font-size: 6rem;
  }

  .hero .hero-text {
    font-size: 1rem;
  }

  .hero .hero-subtitle {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 1300px) {
  .hero {
    max-width: 37rem;
  }

  .hero .hero-title {
    font-size: 5rem;
  }
}

@media screen and (max-width: 805px) {
  .hero .hero-title {
    @apply text-8xl;
  }

  .root::before {
    @apply opacity-100;
  }
}

@media screen and (max-width: 636px) {
  .hero .hero-title {
    font-size: 5rem;
  }
}

@media screen and (max-width: 780px) {
  .hero {
    @apply ml-0 w-[90%] mx-auto;
  }

  .hero .hero-buttons {
    @apply flex flex-wrap justify-start;
  }
  
  .hero .hero-buttons .btn-angled {
    @apply flex w-max;
  }
}

@media screen and (max-width: 520px) {
  .hero {
    @apply justify-start mt-12;
  }

  .hero .hero-title {
    @apply mt-2 text-5xl;
  }

  .hero .hero-text {
    @apply mt-4;
  }

  .hero .hero-buttons {
    @apply mt-8 justify-center;
  }
}

@keyframes slide-fade-in {
  from {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(3rem);
  }
  to {
    opacity: 1;
    filter: none;
    transform: translateY(0rem);
  }
  80% {
    filter: none;
    opacity: 1;
  }
}

@keyframes nav-link-in {
  from { width: 0; }
  to { width: 100%; }
}

/* Unused */
.launch {
  @apply hidden mt-12;

  animation-delay: 0.5s;

  & > * {
    @apply opacity-0;
    animation: slide-fade-in 1.5s var(--star-bezier) forwards;
  }

  & .launch-upcoming {
    animation-delay: 0.1s;
  }

  & .launch-location {
    animation-delay: 0.2s;
  }
}


.launch-location {
  @apply
    flex
    flex-row
    items-center
    gap-4;

  & svg {
    @apply mb-3;
  }
}

.launch-btn {
  @apply mt-4;
}

.launch-src {
  & h1 {
    font-size: 3rem;
    font-weight: 900;
  }

  & span {
    font-size: 0.85rem;
    @apply text-custom-light-200;
  }
}