.home-root {
  @apply 
    flex
    flex-col
    min-h-screen
    min-w-full
    overflow-hidden;

  background: url('../images/bg.png') center center / cover no-repeat;

  &::before {
    content: '';
    @apply 
      absolute
      opacity-0
      w-full
      h-full
      transition-opacity
      duration-200
      bg-black;
  }
}

.hero {
  @apply flex flex-col justify-center flex-grow gap-[0.2em];

  font-size: clamp(5.5rem, 6.5vw, 8rem);
  margin-left: clamp(1rem, 4vw, 4rem);
  width: clamp(20rem, 45vw, 50rem);
  z-index: 1;

  /* fade in animation delays */
  & :nth-child(1) { animation-delay: 0s; }

  & .hero-text {
    @apply flex flex-col gap-[0.2em] h-fit -mt-[0.6em];
  }

  & .hero-title {
    font-size: 1em;
    line-height: 0.9em;

    & p {
      font-size: max(1rem, 0.15em);
      line-height: 1.5em;
      @apply text-custom-light-200 font-light;
    }

    & h1 {
      font-size: inherit;
      @apply font-extrabold -ml-[0.05em];
    }

    & p  { animation-delay: 0s;   }
    & h1 { animation-delay: 0.1s; }
  }

  & .hero-description {
    animation-delay: 0.2s;
    font-size: max(1rem, 0.15em);
    line-height: 130%;
    @apply w-9/10 text-custom-light-200 tracking-[0.04em];
  }

  & .hero-buttons {
    @apply flex flex-row text-base;
    gap: clamp(1rem, 3vw, 2rem);
    animation-delay: 0.3s;
    transition: scale 0.2s;
    transform-origin: bottom left;
  }
}

@media screen and (max-width: 1280px) {
  .hero {
    /* font-size: clamp(3rem, 5.5vw, 5.5rem); */
    font-size: clamp(4rem, 13.5vw, 5.5rem);
  }
  
  .hero .hero-description {
    font-size: max(0.9rem, 0.1em);
  }
  
  .hero .hero-title p {
    font-size: max(0.75rem, 0.1em);
  }
}

/* Media Queries */
@media (max-width: 1136px) {
  .hero {
    width: clamp(40rem, 60vw, 50rem);
  }

  .home-root::before {
    opacity: 0.2;
  }
}

@media (max-width: 645px) {
  .home-root::before {
    opacity: 0.5;
  }

  .hero {
    width: calc(100%-clamp(1rem, 5vw, 5rem));
    margin-inline: auto;
  }

  .hero .hero-description {
    @apply w-full;
  }
}

@media (max-width: 450px) {
  .hero, .hero .hero-text {
    gap: 0.5em;
  }
}

@media (max-width: 428px) {
  .hero .hero-buttons {
    @apply flex-col;
  }
}

/* Unused */
.launch {
  @apply hidden mt-12;

  & > * {
    @apply opacity-0;
    animation: slide-fade-in 1.5s var(--star-bezier) forwards;
  }

  & .launch-upcoming { animation-delay: 0.1s; }
  & .launch-location { animation-delay: 0.2s; }
}

.launch-location {
  @apply
    flex
    flex-row
    items-center
    gap-4;

  & svg {
    @apply mb-3;
  }
}

.launch-btn {
  @apply mt-4;
}

.launch-src {
  & h1 {
    @apply text-5xl font-bold;
  }

  & span {
    @apply text-[0.85rem] text-custom-light-200;
  }
}