:root {
	--parallax-height: 175svh;
	--parallax-gap: 1rem;
}

/* https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
/* *::-webkit-scrollbar {
  display: none;
} */

/* * {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */

#parallax-live-luxury {
	height: 250vh;
	position: relative;
}

.parallax-title {
	position: fixed;
	top: 50%;
	width: 100%;	
	margin-inline: auto;
	text-align: center;
	z-index: -1;
}

.parallax-images {
	/* height: var(--parallax-height); */
	position: fixed;
	top: 0;
	width: 100%;
	overflow: hidden;
	z-index: -2;

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-flow: column;

	gap: var(--parallax-gap);
	/* padding-inline: var(--parallax-gap); */
	padding-inline: 1rem;

	@apply bg-exo-dark-900;
}

.outer-images, .inner-images {
	display: flex;
	flex-direction: column;
	gap: var(--parallax-gap);

	& img {
		object-fit: cover;
		object-position: center;
		width: 100%;
		height: 33vh;
		opacity: 0.75;
	}
}

#parallax-fg {
	z-index: 1;
}

#parallax-bg {
	position: relative;
	z-index: -100;
}

#parallax-mg {
	z-index: 0;
}


.parallax-img {
	min-height: 100vh;
	width: 100vw;
	grid-area: 1 / -1 / 1 / -1;
	object-fit: cover;
}


.parallax-spacer {
	transform-origin: top;
	display: grid;
	place-items: center;
	padding-inline: 2rem;
	height: 100vh;
	background-color: black;
	position: relative;
	z-index: -2;
}

.parallax-text {
	position: fixed;

	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;

	font-size: clamp(5rem,12vw,6.875rem);
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.35);

	& h1 {
		font-size: 1em;
		font-weight: bold;
	}

	& h2 {
		font-size: max(1rem,0.2em);
	}
}

#background {
	background-color: yellow;
}

.parallax-container {
	width: 100%;
	height: 100vh;
	position: fixed;
	display: grid;
	place-items: center;
	grid-template: 1fr / 1fr;
	z-index: -1;

	& > * {
		width: 100vw;
		height: 100vh;
		grid-area: 1 / 1 / -1 / -1;
	}
} 

#background {
	z-index: -50;
}

.parallax-image {
	width: 100vw;
	height: 100vh;
	position: fixed;
	object-fit: cover;
	object-position: 35% bottom;
}

.content {
	background-color: black;
	height: 100vh;
	z-index: 1;
}
.content2 {
	background-color: yellow;
	height: 100vh;
	z-index: 1;
}