.navbar {
  @apply 
    fixed
    w-full
    flex
    items-center
    justify-center
    py-8
    z-50;
}

.navbar[data-expanded="false"] {
  @apply flex-col gap-4;
}

.nav-gradient {
  @apply 
    fixed
    top-0
    h-[95px]
    max-nav-fold-in:h-[85px]
    w-full
    bg-blend-multiply
    mix-blend-multiply
    z-10
    pointer-events-none;
}

.nav-links {
  @apply 
    flex
    justify-center
    m-0
    p-0
    z-10;

  & > :not(:last-child) {
    @apply mr-8;
  }
}

.nav-link {
  @apply relative text-custom-light-100;

  &::after {
    content: '';
    transition: transform .6s var(--star-bezier);
    @apply 
      absolute
      bottom-[-0.3rem]
      left-0
      w-full
      h-[1px]
      bg-custom-light-100
      scale-x-0
      origin-right; 
  }

  &:hover::after {
    @apply 
      scale-x-100
      origin-left;
  }
}

#nav-dropdown-button {
  @apply 
    absolute
    hidden
    top-4
    z-10
    right-4;
}

.logo {
  @apply fixed left-4;
}

.nav-socials {
  display: none;

  & svg {
    transition: scale 0.15s;
    fill: #E0E0E0;
  }

  & a:hover svg {
    scale: 1.1;
    fill: white;
  }
}

/* 960px */
@media screen and (max-width: 60rem) {
  .logo {
    @apply 
      absolute
      left-[50%]
      translate-x-[-50%]
      top-4;
  }

  .navbar {
    @apply w-full justify-end;
  }

  .nav-links {
    @apply 
      w-[275px]
      h-screen
      fixed
      flex-col
      top-0
      justify-start
      items-start
      px-8
      pt-16
      bg-custom-dark-900/95;

    & > li {
      @apply 
        w-full
        text-right
        border-b-2
        border-custom-light-300/50
        py-2
        opacity-0;
    }

    transform: translateX(100%);
    transition: 
      opacity 0.6s var(--star-bezier),
      width 0.6s var(--star-bezier),
      transform 0.5s var(--star-bezier);
  }

  .nav-link {
    @apply flex justify-end pr-0;
    transition: color 0.35s;

    &::after {
      @apply 
        -bottom-[0.6rem]
        h-[2px]
        left-0;
    }

    &:hover {
      @apply text-custom-light-400;
    }
  }

  .nav-links[data-expanded="false"] > li {
    @apply pointer-events-none;
  }

  .nav-links[data-expanded="true"] {
    transform: translateX(0);

    @apply 
      visible
      backdrop-blur-sm;
    
    & > li {
      @apply mr-0;
      animation: fall-down 0.6s var(--star-bezier) forwards;
    }

    & :nth-child(1)  { animation-delay: 0.2s; }
    & :nth-child(2)  { animation-delay: 0.3s; }
    & :nth-child(3)  { animation-delay: 0.4s; }
    & :nth-child(4)  { animation-delay: 0.5s; }
    & :nth-child(5)  { animation-delay: 0.6s; }
    & :nth-child(6)  { animation-delay: 0.7s; }
    & :nth-child(7)  { animation-delay: 0.8s; }
    & :nth-child(8)  { animation-delay: 0.9s; }
    & :nth-child(9)  { animation-delay: 1.0s; }
    & :nth-child(10) { animation-delay: 1.1s; }
  }

  #nav-dropdown-button {
    @apply block;
  }

  .nav-socials {
    display: flex;
  }
}