.exo-text-field-placeholder {
	display: inline;
	font-size: 1em;
	margin-block: auto;
	pointer-events: none;
	transform-origin: top left;
	transition: transform 200ms, font-size 200ms, position 200ms;
}

exo-text-field input {
	width: 100%;
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	background-color: transparent;
	border: none;
	outline: none;
}

exo-text-field input:focus + div > .exo-text-field-placeholder,
exo-text-field input:not(:placeholder-shown) +  div > .exo-text-field-placeholder {
	transform: translateY(-0.85rem) scale(0.8);
}